@font-face {
    font-family: Determination-Mono;
    src: url("font/DTM-Mono.otf");
}

body {
    margin: 0px;
    color: #ea3c45;
    background-color: black;
    font-family: Determination-Mono;
    font-size: 24px;
}

a {
    color: #ffff00;
}

.box {
    border: 4px solid #ea3c45;
    padding: 10px;
    margin: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 32px;
}

.uf-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 75px;
  width: 500px;
    image-rendering: pixelated;
}

.uf-logo-omega {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 250px;
    image-rendering: pixelated;
}

.center {
    text-align: center;
}

@media screen and (max-width: 750px) {
    .uf-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 70%;
        image-rendering: pixelated;
    }
    
    .uf-logo-omega {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 35%;
        image-rendering: pixelated;
    }
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #2b2b2b;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
